{
  "presets": [
    ["@babel/preset-env",{
      "useBuiltIns": "entry"
    }],
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": "./client",
          "~": "./share"
        }
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-modules-commonjs"
  ]
}
